<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" 
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{layout}">
<head>
<title>CSS Template</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>
<div layout:fragment="main">
	<h1>London</h1>
	<p>London is the capital city of England. It is the most populous
		city in the United Kingdom, with a metropolitan area of over 13
		million inhabitants.</p>

</div>

</body>
</html>

